<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-col
        size="11"
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <div>
          <ion-icon
            name="menu-outline"
            style="color: #3c88ec; font-size: 40px"
          ></ion-icon>
        </div>
        <div>
          <form action="" class="searchForm">
            <ion-input
              type="text"
              placeholder="Search user"
              class="searchInput"
              [(ngModel)]="searchUser"
              (keyup)="printName()"
              name
            ></ion-input>
            <ion-icon name="search-outline" class="searchIcon"></ion-icon>
          </form>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-col size="11">
        <ion-list class="ion-margin-top">
          <ion-item *ngFor="let data of chat">
            <ion-thumbnail slot="start">
              <ion-avatar>
                <img
                  alt="Silhouette of mountains"
                  src="https://icon-library.com/images/anonymous-avatar-icon/anonymous-avatar-icon-25.jpg"
                />
              </ion-avatar>
            </ion-thumbnail>
            <ion-label>
              <h5>
                {{data['isGroupChat']?data['chatName']:getUser(data['users'])}}
              </h5>
              <p>whats'up bro</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button color="danger" (click)="logOut()">logout</ion-button>
</ion-content>
