img {
  width: 50px;
  height: 50px;
}

ion-avatar {
  display: flex;
  justify-content: center;
}

.videoMargin {
  margin-right: 20px;
}

ion-input {
  --background: rgb(228, 228, 228);
  --border-radius: 10px;
  --padding-bottom: 10px;
  --padding-top: 10px;
  --padding-start: 10px;
  --highlight-color-focused: none;
}

ion-col {
  display: flex;
  align-items: center;
}

.footerBar {
  position: relative;
}

.micStyle {
  position: absolute;
  right: 10px;
  z-index: 3;
}

ion-item {
  --border-style: none;
}

ion-content::part(scroll) {
  position: static;
}

.loggedMessageStyle {
  display: flex;
  justify-content: end;
  align-items: end;
}

.userMessageStyle {
  display: flex;
  justify-content: start;
  align-items: end;
}

.styleMessage {
  background-color: rgb(53, 100, 255);
  color: white;
}

.styleUserMessage {
  background-color: rgb(236, 231, 231);
  color: black;
}

.paddingStyle {
  padding: 10px;
  border-radius: 10px;
}

.ion-valid {
  --highlight-color: none;
}
