<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-item>
        <div>
          <ion-icon name="chevron-back-outline" routerLink="/chat"></ion-icon>
        </div>
        <ion-thumbnail style="margin-right: 10px">
          <ion-avatar>
            <img
              alt="Silhouette of mountains"
              src="../../../assets/images/elon.jpg"
              width="100%"
              height="100%"
            />
          </ion-avatar>
        </ion-thumbnail>
        <ion-label>
          <div>
            <h5>
              {{chat?.['isGroupChat']?chat['chatName']:getUser(chat?.['users'])}}
            </h5>
          </div>
          <ion-text
            color="success"
            style="display: flex; align-items: center; gap: 5px"
          >
            <ion-icon name="ellipse" style="font-size: 10px"></ion-icon>
            <p>Online</p></ion-text
          >
        </ion-label>
        <ion-icon
          name="videocam-outline"
          class="videoMargin"
          color="dark"
        ></ion-icon>
        <ion-icon name="call-outline" color="dark"></ion-icon>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
<ion-item>
  <ion-grid>
    <ion-row>
      <ion-col style="display: flex;justify-content:end;">
        <div>
          Hello nishant
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-icon
          name="add-circle"
          style="font-size: 40px; margin: 0 auto"
        ></ion-icon>
      </ion-col>
      <ion-col size="10" class="footerBar">
        <ion-input type="text" placeholder="Type here"></ion-input>
        <ion-icon
          name="mic-outline"
          class="micStyle"
          style="font-size: 25px"
        ></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
